[user]
	name = Yuto Ueki
	email = ueki.yuto.bz@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHffhUJruqvxfg40Bwc8WLuHHf1/FvT27Vj/rbtA7mr9
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[alias]
	sw = switch
	log1 = "log --oneline"
	b = branch
	# e.g. git b-d feature/sell
	b-d = "!f() { git branch | grep $1 | xargs git branch -d; }; f"
	b-D = "!f() { git branch | grep $1 | xargs git branch -D; }; f"
	# e.g. git rebase-n 3
	rebase-n = "!f() { git rebase -i HEAD~$1; }; f"
[fetch]
	prune = true
[pull]
	ff = only
[rebase]
	autostash = true
	autosquash = true
[core]
	ignorecase = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
