[user]
	name = Yuto Ueki
	email = ueki.yuto.bz@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[alias]
	sw = switch
	log1 = "log --oneline"
	b = branch
	# e.g. git rebase-n 3
	rebase-n = "!f() { git rebase -i HEAD~$1; }; f"
[fetch]
	prune = true
[pull]
	ff = only
[rebase]
	autostash = true
	autosquash = true
