Host __stg-fh-be
    Hostname 54.199.124.179
    User ubuntu
    IdentityFile ~/.ssh/fuelhash-ec2.pem

Host __stg-fh-fe
    Hostname 13.231.178.46
    User ubuntu
    IdentityFile ~/.ssh/fuelhash-ec2.pem

Host __prod-fh-be
    Hostname 18.177.199.197
    User ubuntu
    IdentityFile ~/.ssh/fuelhash-ec2.pem

Host __prod-fh-fe
    Hostname 54.199.124.179
    User ubuntu
    IdentityFile ~/.ssh/fuelhash-ec2.pem