*
!.gitignore
!CLAUDE.md
!settings.json
!statusline.sh
!commands/
!commands/**
!hooks/
!hooks/**
!skills/
skills/**
!skills/my-create-pr-with-screenshots/
!skills/my-create-pr-with-screenshots/**
!skills/my-codex/
!skills/my-codex/**
!skills/my-agent-memory
!skills/my-empirical-prompt-tuning
!skills/my-pr-creator
